@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CourgetteRegular;
  src: url("./../fonts/Courgette/Courgette-Regular.ttf");
  font-weight: Regular;
}

@layer utilities {
  .font-fancy-1 {
    font-family: CourgetteRegular;
  }
  .bg-glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}
